<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LoginToSqlDbContext"
         connectionString="Data Source=DESKTOP-PSEELEV\VDELGADO;
         Initial Catalog=AdventureWorksDW2014;User ID=sa;Password=C0ntug4s.19;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--User ID=sasa;Password=123456;Integrated Security=SSPI;-->
</configuration>